
.header{
    padding: 0.1rem 1rem;
    background: linear-gradient(180deg,#333333 20%,#333333);
    height: 60px;
    display: inline;
}
.header .logo{
    float: left;
    margin: 0 100px 0 0;
}

.header .search-container .form-search {
    float: left;
    display: flex;
    margin: 10px 0 0 12px;
}

.header .user {
    float: right;
    display: flex;
    margin: 10px 0 0 12px; 
}

.header .search-container .form-search .form-control {
    width: 500px;
}

.main-menu {
    display: flex;
    background-color: #585858;
    padding-left: 120px;
}

.main-menu a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20px;
    padding: 7px;
    margin-right: 10px;
    display: block;
    color: #fd7337;
    
}
.main-menu a:hover{
    color: white;
}
.main-menu .nav-item .nav-link{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    padding: 7px;
    white-space: nowrap;
    display: block;
    color: #fd7337;
}
.main-menu .nav-item .dropdown-item{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: black;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.main-menu .nav-item .nav-link:hover{
    color:white;
}
